main {
    max-width: 840px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #000;
    padding: 2px;
    box-shadow: 0 0 10px #777;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

nav {
    background-color: #333;
    padding: 1rem;
}

nav a {
    color: white;
    padding: 0.5rem;
    display: block;
}

h1 {
    color: #222;
}