* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    /*max-width: 840px;*/
    margin: 1rem;
    grid-column: 2/3;
    gap: 1rem;
}

aside {
    width: 30em;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;

    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 300px;
}

main img {
    width: 300px;
    height: auto;
    border: 1px solid #000;
    padding: 2px;
    box-shadow: 0 0 10px #777;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
}

.grid {
    display: grid;
    align-items: center;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

nav {
    background-color: #333;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

nav a {

    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    padding: 0.5rem;
    display: block;
}

h1 {
    color: #222;
    border-bottom: 8px;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}